*{
    margin: 0;
    padding: 0;
    font-family: 'Bebas Neue', cursive;
    font-family: 'Kanit', sans-serif;
    font-family: 'Lobster', cursive;
    font-family: 'Oswald', sans-serif;
    font-family: 'Secular One', sans-serif;
}
.hero{
background-image: url(images/top-bg.png);
background-repeat: no-repeat;
}
.hero img{
    height: 90%;
}

.flex{
    margin:0 5% 0% 5% ;
    display: flex;
}
.half{
    
    width: 50%;
    
}
.h-content{
    padding-left: 2%;
    margin-top: 2%;
    width: 100%;
    
}

    

h1{
    font-size: 60px;
    margin-bottom: 5%;
}
.color-e{
    color: rgb(201, 0, 252);
}
.h-content h3{
    font-size: 1.5em;
    padding-top: 3%;

}
p{
    margin-top: 2%;
    padding-right: 10%;
    font-size: 1.2em;
    padding-bottom: 2%;
}
.link-button{
    color: rgb(255, 255, 255);
    text-decoration: none;
    background-image: linear-gradient(49deg, rgb(255, 0, 0),rgb(206, 102, 102));
    border-radius: 10px;
    padding: 10px 40px;
    font-weight: 700;
}

h2{
    font-size: 50px;
}
.e-t-t{
    text-align: center;
}
.e-halft {
    align-items: center;
    display: flex;
    
    
    
}

.content{
    height: 350px;
    width: 50%;
    padding: 2%;
    margin: 1% 5% 0 5% ;
    box-shadow: 0px 0px 10px red ;
}
.footer{
    
    text-align: center;
    color: black;
}